@import './variables.scss';

.banner {
  width: 100%;
  height: 395px;
  background-image: url('../assets/banner.png');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;

  &__overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__content {
    // Alinhamento à esquerda forçado
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: 48px;          // Valor do Figma
      font-weight: 600;         // SemiBold conforme o Figma
      line-height: 50px;        // Valor do Figma
      color: $white;
      max-width: 822px;         // Largura da caixa de texto no Figma
      margin-bottom: 15px;
    }

    h2 {
      font-size: 32px;          
      font-weight: 700;
      color: $white;
      margin-bottom: 35px;

      span {
        color: #F7CA11;         
      }
    }

    .banner__button {
      
      width: 206px;             
      height: 50px;
      
      background-color: #F7CA11; 
      color: #271C47;           
      border: none;
      border-radius: 5px;       
      
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      text-transform: none;     // Mantém "Ver produto" minúsculo
      
      // Centraliza o texto dentro do botão de tamanho fixo
      display: flex;
      align-items: center;
      justify-content: center;

      transition: 0.3s;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
}


