@import './variables.scss';

.brands {
  padding: 60px 0;
  text-align: center;

  &__title {
    font-size: 30px;
    color: #3442B5; // Azul do Figma
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__item {
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover { transform: scale(1.05); }
  }

  &__circle {
    width: 211px;
    height: 211px;
    background: $white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

    img {
      width: 130px;
      height: auto;
    }
  }
}