@import './variables.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Fundo escuro
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: $white;
  width: 90%;
  max-width: 770px;
  position: relative;
  padding: 50px;
  border-radius: 4px;

  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #707070;
  }
}

.modal-body {
  display: flex;
  gap: 50px;

  .modal-image img {
    max-width: 250px;
    height: auto;
  }

  .modal-info {
    h3 {
      font-size: 20px;
      color: #041E50;
      margin-bottom: 15px;
    }
    .modal-price {
      font-size: 20px;
      font-weight: 700;
      color: #041E50;
      margin-bottom: 15px;
    }
    .modal-description {
      font-size: 14px;
      color: #222222;
      margin-bottom: 10px;
    }
    .modal-details {
      display: block;
      font-size: 12px;
      color: #041E50;
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
}

@import './variables.scss';

.modal-actions {
  display: flex;
  align-items: center; // Centraliza verticalmente um em relação ao outro
  gap: 16px;           // Espaço entre o seletor e o botão
  margin-top: 30px;

  // O retângulo de quantidade
  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 110px;      // Largura do seletor
    height: 36px;      // Altura igual à do design
    border: 1px solid #BDBDBD; // Borda cinza clara
    border-radius: 4px;
    padding: 0 12px;

    button {
      background: none;
      border: none;
      font-size: 24px;
      color: #271C47;  // Roxo escuro para o + e -
      cursor: pointer;
      display: flex;
      align-items: center;
      line-height: 0;
      
      &:hover {
        opacity: 0.7;
      }
    }

    span {
      font-size: 16px;
      font-family: $font-main;
      color: #271C47;
      font-weight: 400;
    }
  }

  // O botão comprar amarelo
  .btn-buy {
    background-color: #F7CA11; 
    color: #271C47;           
    border: none;
    border-radius: 4px;
    
    // Tamanho e texto
    height: 48px;
    padding: 0 50px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      filter: brightness(1.1);
    }
  }
}
