$pink-econverse: #3442B5;
$yellow-econverse: #FFC700;
$gray-text: #3F3F40;
$gray-light: #F6F5F2;
$white: #FFFFFF;
$blue-econverse: #3442B5;
$gray-light-text: #9F9F9F;

$font-main: 'Poppins', sans-serif;